nes starting with '#' are considered comments.
# Ignore any file named foo.txt.
foo.txt
# Ignore (generated) html files,
*.html
# except foo.html which is maintained by hand.
!foo.html
# Ignore objects and archives.
*.[oa]
*.png
*.eps
*.txt
*.dat
*.h~
cross_values.c
*.cxx~
*.c~
*.root
\#hist.\#
\#hist_calculate_cross_sec.c\#
\#llqq.dat\#
\#llqq.dat.bak\#
\#log_exe\#
Test_Units.c
Test_Units.cxx
Test_Units.h
alltheplots/
backup/
*.bak
deleteme
err_log_exe_
err_log_exe_5GeV
exe
gitdiff
p~
valik/
comp_1st2nd_Q2.C
comp_1st2nd_et.C
comp_1st2nd_et_jet.C
comp_1st2nd_eta.C
comp_1st2nd_eta_jet.C
comp_1st2nd_x.C
comp_Matt_Q2.C
comp_Matt_et.C
comp_Matt_et_jet.C
comp_Matt_eta.C
comp_Matt_eta_jet.C
comp_Matt_x.C
comp_rew_Q2.C
comp_rew_et.C
comp_rew_et_jet.C
comp_rew_eta.C
comp_rew_eta_jet.C
comp_rew_x.C
compare_left
compare_right
cross_Q2.C
cross_Q2ele.C
cross_Q2pos.C
cross_et.C
cross_et_jet.C
cross_et_jetele.C
cross_et_jetpos.C
cross_eta.C
cross_eta_jet.C
cross_eta_jetele.C
cross_eta_jetpos.C
cross_etaele.C
cross_etapos.C
cross_etele.C
cross_etpos.C
cross_sec
cross_x.C
cross_xele.C
cross_xpos.C
hist_compare1st2nd.c
hist_compare1st2nd_0405e.c
hist_compare1st2nd_06e.c
hist_compare1st2nd_inclusive_prph.c
hist_compare1st2nd_noephrew.c
hist_compare1st2nd_norew.c
hist_compare1st2nd_noyrew.c
hist_compare1st2nd_orig.c
hist_compare1st2nd_rewnorew.c
hist_compare1st2nd_rewnorew_separ.c
hist_compare1st2nd_sum.c
hist_compare1st2nd_theory25GeV.c
hist_compare1st2nd_theory4GeV.c
hist_plot_box.c
hist_plot_cross_sec_0405e.c
hist_plot_cross_sec_blz_gks.c
hist_plot_cross_sec_inclusive_prph.c
hist_plot_cross_sec_inclusivepaper.c
hist_plot_cross_sec_noephrew.c
hist_plot_cross_sec_norew.c
hist_plot_cross_sec_noyrew.c
hist_plot_cross_sec_orig.c
hist_plot_cross_sec_rewnorew.c
hist_plot_cross_sec_sum.c
hist_plot_cross_sec_theory25GeV.c
hist_plot_cross_sec_theory4GeV.c
log_exe_
log_exe_0
log_exe_5GeV
log_exe_norew
log_exe_syst_jet_minus
syst_Q2.C
syst_et.C
syst_et_jet.C
syst_eta.C
syst_eta_jet.C
syst_x.C

